// global
$backgroundpage: #c3cfe2;
$font: "Roboto", sans-serif;

// Variables Social Media
$primary-color: #686de0;
$bordersocial: 1px solid white;
$blog: #e17b77;
$fb: #3b5998;
$twitter: #00aced ;
$github: #333;
$linkedin: #007bb6;
